html {
  background-color: rgb(85, 58, 0);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

:root {
  --fcolor: #fff;
  --ncolor: #fff;
}

h1 {
  font-size: 7em;
  padding: 0;
  margin: 0;
  color: aliceblue;
}

#nav-bar-overlay {
  background-color: rgba(28, 21, 19, 0.97);
  opacity: 0.99;
  position: fixed;
  height: 59px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: none;
}
#nav-bar-item-top,
#nav-bar-item-Ask,
#nav-bar-item-About,
#nav-bar-item-Avatar {
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #eee;
  padding: 0px 45px 0px 45px;
  display: inline-block !important;
  margin-top: 20px;
  transition: 0.2 ease-in-out;
}

#nav-bar-item-top:hover,
#nav-bar-item-Ask:hover,
#nav-bar-item-About:hover,
#nav-bar-item-Avatar:hover {
  color: #e07065;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  width: 100%;
}

@font-face {
  font-family: "Samarkan Normal";
  font-style: normal;
  font-weight: normal;
  src: local("Samarkan Normal"), url("./assets/SAMARN__.woff") format("woff");
}

#site-title {
  font-family: "Samarkan Normal";
  color: var(--fcolor);
  font-size: 101px;
  font-weight: bold;
  margin-top: 55px;
  margin-left: 55%;
  left: 20px;

  /* margin-right: 50%; */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
#sections {
  text-decoration: none;
  color: var(--ncolor);
  padding: 16px 20px 16px 21px;
  margin: 0;
  position: absolute;
  top: 120px;
  left: 50%;
  font-size: 20px;
  font-weight: 700;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
#other-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  left: -400px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
#about-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  right: -309px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
#ask-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  left: -269px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
#contact-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  right: -459px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}

.Avatar img {
  border-radius: 100px;
  height: 150px;
  width: 150px;
}
#nav-bar-item-Avatar img {
  height: 35px;
  margin-top: -25px;
  position: absolute;
  left: 30px;
}
.Avatar {
  position: absolute;
  left: -650px;
  top: -100px;
}

#first-solid-bar {
  margin-top: 33px;
  margin-left: -9px;
  margin-right: -9px;

  height: 1600px;
  position: absolute;
}

@media (max-width: 1100px) {
  #site-title {
    font-family: "Samarkan Normal";
    color: var(--fcolor);
    font-size: 81px;
    font-weight: bold;
    margin-top: 55px;
    margin-left: 55%;
    /* margin-right: 50%; */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }
  #other-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: -150px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  #sections {
    top: 40px;
  }
  #ask-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: 180px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  #contact-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: 160px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  #about-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: 320px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }

  .Avatar {
    /* margin-right: 100px;
    margin: 0; */
    position: absolute;
    left: -270px;
    top: 70px;
    border-radius: 100px;
    /* margin-top: 0px; */
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  .Avatar img {
    border-radius: 90px;
  }
}
