html {
  background-image: url("https://img.freepik.com/free-photo/empty-wooden-table-top-with-blurred-coffee-shop_7188-1337.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

:root {
  --fcolor: #fff;
  --ncolor: #fff;
}

h1 {
  font-size: 7em;
  padding: 0;
  margin: 0;
  color: aliceblue;
}

#nav-bar-overlay {
  background-color: rgba(28, 21, 19, 0.97);
  opacity: 0.99;
  position: fixed;
  height: 59px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: none;
}
#nav-bar-item-top,
#nav-bar-item-Ask,
#nav-bar-item-About,
#nav-bar-item-Avatar {
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #eee;
  padding: 0px 45px 0px 45px;
  display: inline-block !important;
  margin-top: 20px;
  transition: 0.2 ease-in-out;
}
#avatar-overlay {
  position: absolute;
  right: 30px;
  top: 15px;
}
#avatar-overlay img {
  height: 30px;
  border-radius: 300px;
}

#nav-bar-item-top:hover,
#nav-bar-item-Ask:hover,
#nav-bar-item-About:hover,
#nav-bar-item-Avatar:hover {
  color: #e07065;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  width: 100%;
}

@font-face {
  font-family: "Samarkan Normal";
  font-style: normal;
  font-weight: normal;
  src: local("Samarkan Normal"), url("./assets/SAMARN__.woff") format("woff");
}

#site-title {
  font-family: "Samarkan Normal";
  color: var(--fcolor);
  font-size: 101px;
  font-weight: bold;
  margin-top: 55px;
  margin-left: 55%;
  left: 20px;

  /* margin-right: 50%; */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
#sections {
  text-decoration: none;
  color: var(--ncolor);
  padding: 16px 20px 16px 21px;
  margin: 0;
  position: absolute;
  top: 120px;
  left: 50%;
  font-size: 20px;
  font-weight: 700;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
#other-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  left: -400px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
#about-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  right: -309px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
#ask-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  left: -269px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
#contact-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  right: -459px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}

.Avatar img {
  border-radius: 100px;
  height: 150px;
  width: 150px;
}
#nav-bar-item-Avatar img {
  height: 35px;
  margin-top: -25px;
  position: absolute;
  left: 30px;
}
.Avatar {
  position: absolute;
  left: -650px;
  top: -100px;
}
#avatar {
  position: absolute;
  top: -70px;
  left: 590px;
}
#avatar img {
  height: 50px;
  border-radius: 1000px;
}

#first-solid-bar {
  margin-top: 33px;
  margin-left: -9px;
  margin-right: -9px;

  height: 1600px;
  position: absolute;
}

.login-wrapper {
  background-color: #fff;
  color: #000;
  width: 750px;
  height: 390px;
  top: 200px;
  justify-content: center;
  position: absolute;
  left: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  padding-bottom: 30px;
  padding-top: 20px;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.6),
    0 12px 25px 0 rgba(0, 0, 0, 0.19);
}
.login {
  color: #000;
  font-size: 50px;
}
input {
  height: 40px;
  width: 280px;
  margin-top: 10px;
  border-radius: 100px;
  outline: none;
  border: #eee;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  background-color: rgb(182, 248, 253);
}
input::-webkit-input-placeholder {
  font-size: 15px;
}
.login-wrapper button {
  margin-top: 20px;
  height: 40px;
  width: 280px;
  border-radius: 200px;
  outline: none;
  background-color: #e07065;
  border: #eee;
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-size: 400;
}

.login-img img {
  height: 390px;
  border-radius: 50px;
}

@media (max-width: 900px) {
  #avatar {
    position: absolute;
    top: 10px;
    left: 330px;
  }
  #avatar img {
    height: 50px;
    border-radius: 1000px;
  }
  #avatar-overlay {
    position: absolute;
    top: 12px;
    left: 650px;
  }
  #avatar-overlay img {
    height: 35px;
    border-radius: 1000px;
  }
  #site-title {
    font-family: "Samarkan Normal";
    color: var(--fcolor);
    font-size: 81px;
    font-weight: bold;
    margin-top: 55px;
    margin-left: 55%;
    /* margin-right: 50%; */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }
  #other-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: -150px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  #sections {
    top: 40px;
  }
  #ask-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: 180px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  #contact-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: 160px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  #about-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: 320px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }

  .Avatar {
    /* margin-right: 100px;
    margin: 0; */
    position: absolute;
    left: -270px;
    top: 50px;
    border-radius: 100px;
    /* margin-top: 0px; */
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  .Avatar img {
    height: 100px;
    width: 100px;
    border-radius: 90px;
  }
  .login-wrapper {
    background-color: #fff;
    color: #000;
    width: 500px;
    height: 300px;
    justify-content: center;
    position: absolute;
    left: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.6),
      0 12px 25px 0 rgba(0, 0, 0, 0.19);
  }
  .login {
    color: #000;
    font-size: 20px;
  }
  input {
    height: 30px;
    width: 180px;
    border-radius: 100px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  }

  .login-wrapper button {
    margin-top: 20px;
    height: 40px;
    width: 180px;
    border-radius: 200px;
    outline: none;
  }
  .login-img img {
    height: 300px;
    border-radius: 50px;
  }
}
